[user]
    name = chenz
    email = crazychenz@gmail.com

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = diff3

[init]
    defaultBranch = main

[alias]
    st = status
    co = checkout
    br = branch
    acp = "!f() { \
      PARSED_OPTS=$(getopt -o ham: --long help,all,dry-run,message: -- \"$@\"); \
      if [ $? -ne 0 ]; then \
        echo \"Failed to parse options.\"; \
        exit 1; \
      fi; \
      eval set -- \"$PARSED_OPTS\"; \
      ALL=\"\"; \
      DRYRUN=\"\"; \
      MESSAGE=\"--allow-empty-message\"; \
      while true; do case \"$1\" in \
            -h|--help) echo \"Usage: git acp [-h] [-a] [--dry-run] [-m message] [<pathspec>...]\"; shift; exit 0;; \
        -a|--all) ALL=\"-a\"; shift;; \
        --dry-run) DRYRUN=\"yes\"; shift;; \
        -m|--message) MESSAGE=\"-m '$2'\"; shift 2;; \
        --) shift; break;; \
        *) echo \"Invalid option: $1\"; exit 1;; \
      esac; done; \
      NARG=$#; \
      SUFFIX=\"git commit $ALL $MESSAGE && git push\"; \
      if [ \"$#\" -gt \"0\" ]; then \
        COMMAND=\"git add $@ && $SUFFIX\"; \
      else \
        COMMAND=\"$SUFFIX\"; fi; \
      if [ \"$DRYRUN\" = \"yes\" ]; then \
        echo $COMMAND; \
      else \
        sh -c \"$COMMAND\"; \
      fi; \
    }; f"
    deploy = "!f() { \
      git status 2>/dev/null | grep \"nothing to commit\" || exit 1; \
      git checkout deploy || git checkout -b deploy; \
      git merge main || git merge main --rebase; \
      git push origin deploy; \
      git checkout main; \
    }; f"
    up = "!f() { \
      git checkout deploy; git pull; \
      git checkout main; git pull; \
      git merge deploy; \
    }; f"

[http]
    postBuffer = 157286400
[safe]
	directory = /opt/work
